body {
    background-color: #fff;
    display: flex;
    justify-content: center;
}
input {
    display: block;
    border-radius: 15px;
    margin-bottom: 9px;
    padding: 10px;
    border: 1px solid aquamarine;
}

label {
    font-weight: bold;
    color: #1f2c43;
}

.daf {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 300px;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    padding: 30px;
}

#submit {
    padding: 10px;
}