*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.side{
    padding-top: 60px;
    width: 250px;
    height: 150%;
    background-color:white;
    -webkit-box-shadow: 12px -17px 38px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 12px -17px 38px -11px rgba(0,0,0,0.75);
box-shadow: 12px -17px 38px -11px rgba(0,0,0,0.75);
}

.side h1{
    display: flex;
    justify-content: center;
}
.primary{
    padding-top: 50px;
}
.others{
    padding-top: 50px;
}
.primary h4{
     padding-left: 15px; 
}
.others h4{
    padding-left: 15px;
}
.nav-list{
    list-style-type: none;
}
.others-list{
    list-style-type: none;
}
.nav-list li{
    margin-top: 20px;
    padding-bottom: 10px;
    transition: 0.6s ease-in-out;
}
.nav-list li a{
    padding-left: 30px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}
.others-list li{
    margin-top: 20px;
    padding-bottom: 10px;
    transition: 0.6s ease-in-out;
}

.others-list li a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    transition: 0.6s ease-in-out;
}



span{
    padding-left: 25px;
    padding-top: 15px;
}

 li a{
    position: relative;
    top: -5px;
} 


li {
    position: relative;

}

li::after {
    content: "";
    position: absolute;
    width: 13px;
    left: 80;
    transition: all 0.5s ease;
    bottom: 6px;
    background-color: powderblue;
}

li:hover::after {
    height: 3px;
    width: 40%;
}